# Common
*.o
*.mod
*.a
*.so
.pytest_cache
.venv

# Codes
/libs/
/spline/
/BOOZER_MAGFIE/
/GORILLA/
/GORILLA_APPLETS/
/NEO-2/
/NEO-RT/
/contrib/
/MEPHIT/
/kim/
/efit_to_boozer/
/CHEASE/
/MARS/
/GPEC/

# tests
tests/**/out.*
tests/**/*.dat
