# Common
*.o
*.mod
*.a
*.so
.pytest_cache
.venv

# Codes
/libs/
/spline/
/BOOZER_MAGFIE/
/SIMPLE/
/GORILLA/
/GORILLA_APPLETS/
/NEO-2/
/NEO-RT/
/contrib/
/MEPHIT/
/kim/
/efit_to_boozer/

# tests
tests/*/out.*
tests/*.dat
