# Basics
wheel
pip>=23
setuptools>=64
scikit-build-core>=0.8.2
ipython
jupyter
jupytext
sphinx

# File formats
openpyxl
xlrd
h5py
netcdf4
xarray==2022.10.0  # Version for OMFIT

# Scientific computing
sympy
uncertainties
numpy==1.26.4     # Version for correct f2py output
scipy>=1.11.4     # Version compatible with newer numpy
numba
matplotlib
pandas

# Statistics
pandas
scikit-learn
torch

# For OMFIT
boto3
configobj
dill
pyodbc
pyotp
pidly
numexpr
bottleneck
lmfit
gpr1dfusion
pygacode
astropy
jedi
pyttk
omfit-classes
bibtexparser

# Development tools
pylance
black==19.3b0  # Version for OMFIT
fortls

# Misc
tqdm
pytest
mpi4py
scikit-build>=0.17.6
scikit-fem
f90wrap>=0.2.14
f90nml
fortranformat
elabapy
colorcet>=3.0.0
pygmsh

# FreeGS
Shapely
importlib-metadata<4.3,>=1.1.0  # for freegs
freeqdsk
freegs
