# Basics
wheel
pip>=24
setuptools>=64
jupyterlab>=4.2
notebook>=7.2
ipython>=8.25
jupytext
sphinx
mkdocs
pdm

# File formats
openpyxl
xlrd
h5py
netcdf4
fpdf
xarray>=2024.06

# Scientific computing
numpy>=2.0
sympy>=1.12
uncertainties
scipy>=1.13
numba>=0.60
matplotlib>=3.9
scikit-build @ git+https://github.com/scikit-build/scikit-build.git@main
scikit-build-core @ git+https://github.com/scikit-build/scikit-build-core.git@main
f90wrap @ git+https://github.com/jameskermode/f90wrap.git@master

# Statistics
pyarrow>=16.1
pandas>=2.2
scikit-learn>=1.5

# For OMFIT
boto3
configobj
dill
pyodbc
pyotp
pidly
numexpr
bottleneck
lmfit
gpr1dfusion
pygacode
astropy
jedi
pyttk
omfit-classes
bibtexparser
contourpy

# Development tools
black
fortls

# Misc
tqdm
pytest
mpi4py
ninja
scikit-fem
pygmsh
f90nml
fortranformat
elabapy
colorcet>=3.0
poetry

# FreeGS
Shapely
importlib-metadata
freeqdsk
freegs
