# Basics
wheel
pip>=23
setuptools>=64
scikit-build-core>=0.8.2
ipython
jupyter
jupytext
sphinx

# File formats
openpyxl
xlrd
h5py
netcdf4
xarray

# Scientific computing
sympy
uncertainties
numpy>=2.0
scipy
numba
matplotlib

# Statistics
pandas
scikit-learn
torch

# For OMFIT
boto3
configobj
dill
pyodbc
pyotp
pidly
numexpr
bottleneck
lmfit
gpr1dfusion
pygacode
astropy
jedi
pyttk
omfit-classes
bibtexparser
contourpy

# Development tools
pylance
black
fortls

# Misc
tqdm
pytest
mpi4py
scikit-build>=0.17.6
scikit-fem
f90wrap @ git+https://github.com/jameskermode/f90wrap.git@master
f90nml
fortranformat
elabapy
colorcet>=3.0.0
pygmsh

# FreeGS
Shapely
importlib-metadata
freeqdsk
freegs
